.body {
    margin: 0;
    height: 100;
    background-color: rgb(245 241 232);
}

.form-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
    width: 96%;
    height: 100%;
}
.form-head{
    display: flex;
    border-radius: 6px;
    align-items: center;
    background:cornflowerblue;
    justify-content: center;
    height: 30px;
    flex-wrap: wrap;
}
.input{
    display: flex;
	width: 400px;
	padding:3px;
	border:1px solid rgb(13, 130, 240);
	border-radius:2px;
    height: 15px;
	}

.label{
	min-width: 120px;
    color: rgb(13, 130, 240);
    font-family: 'Times New Roman', Times, serif ;
}
.row-content{
	display: flex;
    padding: 10px;
	flex-direction: row;
	margin-bottom: 5px;
	
	}
    .close-logo{
    display: flex ;
    align-items:flex-end;
    }
.header{
    background-color: rgb(245 241 232);
    width: 10;
    height: 100;
}
.box{
    display: flexbox;
    width: 60%;
    flex-direction: row;
    margin: 5;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    border: 1px solid rgb(240, 235, 209);
    }
.logo{
    display: flex;
    align-items: center;
    width: 10%;
    height: 5%;
}
.book-text{
    color: rgb(26, 11, 11);
}
.address-text{
    color: lightseagreen;
}
.close-icon{
    display: flex;
    flex-direction: row;   
}