.body {
    margin: 0;
    height: 100;
    background-color: rgb(202, 197, 184);
}

.form-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
    width: 96%;
    height: 100%;
}
.form-head{
    display: flex;
    border-radius: 6px;
    align-items: center;
    background:cornflowerblue;
    justify-content: center;
    height: 50px;
    flex-wrap: wrap;
}
.option-fields{
    display: flex;
	justify-content: right;
    flex-wrap: wrap ;
    flex-direction: row;
	padding:3px;
	border-radius:2px;

}
.address-fields{
    display: flex;
	width: 132px;
    padding: 5px;
    margin: 3px;
	border:1px solid rgb(13, 130, 240);
	border-radius:2px;
}
.text-area{
    display: flex;
	width: 420px;
	padding:3px;
	border:1px solid rgb(13, 130, 240);
	border-radius:2px;
    height: 60px;
}
.input{
    display: flex;
	width: 420px;
    height: 20px;
	padding:3px;
	border:1px solid rgb(13, 130, 240);
	border-radius:2px;
   
	}
    
    .label{
        min-width: 120px;
        color: rgb(13, 130, 240);
        font-family: 'Times New Roman', Times, serif ;
    }

    .row-content{
        display: flex;
        padding: 20px;
        flex-direction: row;
        margin-bottom: 5px;
	    }
    .button-content{
        display: flex;
        padding: 10px;
        flex-direction: row;
        margin: 5ss 0px;
        justify-content: right;
        margin-bottom: 5px;        
        }
    .close-icon{
    display: flex ;
    justify-content: right;
    }
    .button-conten{


    }
    .button{
        justify-content: center;
        background-color: rgb(191, 199, 207);
        padding: 10px;
        margin: 20px;
        width: 100px;
        border-radius: 5px;
        border-color: rgb(13, 130, 240);;
    }
.header{
    background-color: rgb(202, 197, 184);
    width: 10;
    height: 100;
}
.box{
    display: flexbox;
    width: 60%;
    flex-direction: row;
    margin: 5;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    border: 1px solid rgb(240, 235, 209);
    }
    .text{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
.logo{
    display: flex;
    align-items: center;
    width: 10%;
    height: 5%;
}
.book-text{
    color: rgb(26, 11, 11);
}
.address-text{
    color: lightseagreen;
}
.close-icon{
    display: flex;
    flex-direction: row;   
}